<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AllProducts</title>
</head>
<body>
<div th:insert="~{menu :: #menu}"></div>
<h1>All products</h1>
<div>
    <form action="#" method="post" th:action="@{/products}">
        <input id="min" name="min" type="number">
        <input id="max" name="max" type="number">
        <button type="submit">Filter</button>
    </form>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Products</th>
        <th>Price</th>
    </tr>
    <tr>
        <td><p th:each="product : ${products}" th:text="${product.id_product}"></p></td>
        <td><p th:each="product : ${products}" th:text="${product.name}"></p></td>
        <td><p th:each="product : ${products}" th:text="${product.price}"></p></td>
        <form action="#" method="get" th:action="@{/editProduct}">
            <input name="id" id="id" value="${productController.product.setId_product}" type="number" placeholder="Enter ID">
            <button type="submit">Update product</button>
        </form>
    </tr>
</table>
</body>
</html>